<form>
  <label for="url" class="text-2xl font-bold mb-4 text-gray-700">Provide a URL:</label> <br />
  <input
    type="text"
    id="url"
    name="url"
    class="w-full p-2.5 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 mb-4"
  /><br />
  <input
    type="submit"
    value="Submit"
    class="w-full text-white bg-blue-500 hover:bg-blue-600 font-bold py-2 px-4 rounded-lg"
  />
</form>
