<.flash_group flash={@flash} />
<form class="space-y-4" method="post" action="/api/register_app">
  <input type="text" name="url" placeholder="URL" class="border py-2 px-4 rounded w-full" />
  <input type="submit" value="Submit" class="bg-blue-500 text-white py-2 px-4 rounded" />
</form>
